@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");

@media (max-width: 768px) {
  /* Entire Layout */
  html {
    scroll-behavior: smooth;
    font-family: "Noto Sans KR", sans-serif;
  }
  .cd-section {
    height: auto;
  }
  .cd-section > div {
    height: auto;
  }
  .content {
    position: static;
    width: 100%;
    height: 100%;
  }

  /* Header */
  header {
    transition: 0.5s;
    z-index: 100;
  }
  header.active {
    background-color: #fff;
    border-bottom: 1px solid #eee;
  }
  .menu {
    display: block;
  }
  .slogan {
    display: none;
  }
  .gnb {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -270px;
    width: 250px;
    height: 100vh;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
  }
  .gnb.active {
    right: 0;
  }
  .gnb-inner {
    width: 100%;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .menu {
    margin-top: 80px;
  }
  .menu a {
    line-height: 2em;
    text-align: right;
    display: block;
    padding-right: 20px;
    color: #000;
    font-size: 20px;
  }
  .trigger {
    display: block;
    font-size: 36px;
    position: absolute;
    right: 14px;
    top: 20px;
    width: 24px;
    height: 14px;
  }
  .trigger span {
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #000;
    transition: 0.4s;
  }

  .tirgger span:nth-child(1) {
    top: 0;
  }
  .trigger span:nth-child(2) {
    top: 50%;
    width: 80%;
  }
  .trigger span:nth-child(3) {
    top: 100%;
  }

  .trigger.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  .trigger.active span:nth-child(2) {
    top: 50%;
    width: 80%;
    opacity: 0;
  }
  .trigger.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }

  /* Gototop */
  .gototop {
    position: fixed;
    color: #fff;
    display: block;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    bottom: 15px;
    left: 15px;
    transform: translateY(30px);
    transition: 0.4s;
  }
  .gototop.active {
    opacity: 1;
    transform: translateY(0);
  }
  .gototop > img {
    width: inherit;
    height: inherit;
  }
  .gototop > .percent-wrapper {
    position: absolute;
    width: 100%;
    top: 35%;
    left: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .percent-wrapper .material-icons {
    font-size: 12px;
    font-weight: 400;
  }
  .percent-wrapper .scroll-percent {
    font-size: 10px;
    font-weight: 400;
  }
  .btn-consulting {
    right: 20px;
    bottom: 20px;
  }

  .cd-vertical-nav {
    display: none;
  }

  /* Shot Hide Section */
  /* #home, */
  /* #about, */
  /* #service, */
  /* #process, */
  /* #fare, */
  /* #keyword, */
  /* #contact, */
  .gnb-inner .top-notice {
    display: none;
  }

  /* Section Home */
  .home-inner {
    height: 100vh;
  }
  .welcome-text > img {
    transform: scale(0.8);
  }
  .home-heading {
    left: 20px;
    top: 30%;
  }
  .home-heading span {
    font-size: 14px;
  }
  .home-heading span:first-child {
    font-size: 30px;
  }

  /* Section : about */
  .about-inner {
    height: auto;
    padding: 20px;
    background: #112d4e;
  }
  .about-items {
    width: 100%;
    position: static;
    margin-left: 0;
    transform: none;
    text-align: center;
  }
  .item {
    margin: 40px 0;
  }
  .item .material-icons {
    float: none;
  }

  /* Section service */
  .service-inner {
    height: auto;
    padding: 40px 20px;
    position: static;
  }
  .feature {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
  .office {
    grid-template-columns: 1fr;
  }

  /* Section Process */
  .process-inner {
    height: auto;
  }
  .process-grid {
    grid-template-columns: 1fr;
  }
  .grid-item .grid-heading {
    margin-bottom: 50px;
  }
  .grid-heading h3 {
    font-size: 24px;
  }

  /* Section Fare */
  .fare-inner {
    height: auto;
    padding: 20px;
  }
  .fare-feature {
    width: 100%;
    position: static;
    transform: none;
  }
  .feature-heading h3 {
    font-size: 24px;
  }
  .feature-heading span {
    text-align: center;
  }
  .feature-box::before {
    display: none;
  }
  .feature-box::after {
    display: none;
  }

  /* Section Keyword */
  .keyword-inner {
    height: auto;
    padding: 20px;
  }
  .keyword-feature {
    width: 100%;
    position: static;
    transform: none;
  }
  .keyword-heading h3 {
    font-size: 24px;
  }

  /* Section Contact */
  .contact-inner {
    height: auto;
    padding: 20px;
  }
  .contact-feature {
    position: static;
    transform: none;
    width: 100%;
  }

  .contact-map h4 {
    font-size: 24px;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
  }
  #map {
    width: 80%;
    height: 400px;
  }

  /* Cunsult html CSS */
  .formItem:first-child .formGroup {
    grid-template-columns: repeat(3, 1fr);
  }
  .formItem:nth-child(2) .formGroup {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Notice List Html */
  .boardList .date {
    width: 140px;
  }
  .boardList ul li {
    padding: 8px 0;
  }
  .boardList .imgBox {
    display: none;
  }
  .boardList .imgBox img {
  }
}
