/* 
1. F9F7F7
2. DBE2EF
3. 3F72AF
4. 112D4E


*/
/* Common CSS */
* {
  box-sizing: border-box;
}
body {
  color: #222;
  height: 100vh;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
  background-color: #fff;
}
a {
  text-decoration: none;
}
img {
  display: block;
}

/* Entire Layout */
.cd-section {
  height: 100vh;
}
.cd-section > div {
  height: 100%;
  position: relative;
}
.content {
  background-color: #dbe2ef;
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 80px);
  left: 20px;
  bottom: 20px;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.gnb-inner {
  width: calc(100% - 40px);
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  float: left;
}

.logo img {
  height: 40px;
}
.gnb {
  float: right;
}
.menu {
  display: none;
}
.menu a {
}
.slogan {
  font-style: italic;
}
.trigger {
  display: none;
}
.gototop {
  display: none;
}

/* Consulting Button */
.btn-consulting {
  position: fixed;
  right: 35px;
  bottom: 40px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s;
}
.btn-consulting:active {
  transform: scale(0);
}
.btn-consulting img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.txtBallon {
  position: absolute;
  width: 100%;
  height: auto;
  font-size: 12px;
  font-weight: 700;
  top: -14px;
  text-align: center;
  background-color: #112d4e;
  padding: 4px 6px;
  border-radius: 5px;
  color: #eee;
}
.txtBallon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  bottom: -5px;
  background-color: #112d4e;
}

/* Section Awards */

.awards-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}
.awards-inner div {
  width: 100%;
}
.awards-inner .awards-about {
  background-color: #112d4e;
}
.awards-heading h2 {
  color: #f9f7f7;
}

/* Section About */
.about-inner {
  height: 100%;
  background: url("./images/about-bg.png") no-repeat right bottom;
  background-size: 30%;
  background-color: #3f72af;
}
.about-items {
  width: 55%;
  color: #f9f7f7;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 100px;
}
.item {
  overflow: hidden;
}
.item .material-icons {
  transform: translateY(-8px);
}
.item:hover .material-icons,
.item:hover h3 {
  color: #112d4e;
}
.item .material-icons {
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 5px;
  font-size: 88px;
  transition: 0.5s;
}
.item span {
}
.item h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  transition: 0.5s;
  margin-bottom: 5px;
}
.item p {
  overflow: hidden;
  font-size: 12px;
}

/* Section Service */
.service-inner {
  background: url("images/service-bg.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
}
.service-inner::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
}
.feature {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.office {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1px;
  column-gap: 20px;
}
.office .service-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  position: relative;
  padding: 10px 5px;
}
.service-item .material-icons {
  color: #3f72af;
  font-size: 32px;
  margin-bottom: 4px;
  transition: 0.5s;
}
.service-item h3 {
  display: block;
  margin: 0;
  font-size: 18px;
  color: #f9f7f7;
  font-weight: 700;
  margin-bottom: 5px;
  transition: 0.5s;
}
.service-item:hover h3 {
  color: #3f72af;
}
.service-item:hover .material-icons {
  color: #f9f7f7;
  transform: scale(1.2);
}
.service-item p {
  color: #dbe2ef;
  font-size: 12px;
}

/* Section Contact */
.contact-inner {
  background-color: #f9f7f7;
  height: 100%;
}
.contact-feature {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact-feature > div {
  height: 400px;
  float: left;
  width: 50%;
  padding: 20px;
}
.contact-form {
}
.contact-form h3 {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 6px;
}
.contact-form p {
  font-size: 12px;
  margin-bottom: 10px;
}
.contact-form h3 b {
  font-weight: bold;
}
.send-box {
}
.send-box label {
  display: block;
  font-weight: bold;
  margin: 8px 0;
  font-size: 14px;
}
.send-box label span {
  color: crimson;
  font-weight: normal;
}
.send-box input {
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 3px;
  outline: none;
  width: 100%;
}
.send-box input:hover,
.send-box textarea:hover,
.send-box input:focus,
.send-box textarea:focus {
  border: 1px solid #3f72af;
  box-shadow: 0 0 3px #3f72af;
  background-color: #dbe2ef;
}
.send-box textarea {
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 3px;
  outline: none;
  width: 100%;
}
.send-box button {
  background-color: #3f72af;
  color: #dbe2ef;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 10px;
}
.send-box button:hover {
  background-color: #112d4e;
  font-weight: bold;
}
.contact-map {
  font-size: 14px;
}
.contact-map h4 {
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  margin-bottom: 6px;
}
.contact-map b {
  font-weight: bold;
}
.contact-map ul li {
  line-height: 1.6em;
}
.contact-map ul li:last-child {
  color: #3f72af;
}
.contact-map div {
  width: 100%;
  height: 270px;
  margin-top: 10px;
}
