/* Color 조합 */
/* 
  1. #222831
  2. #393E46
  3. #00ADB5
  4. #EEEEEE

*/
/* Common CSS */
* {
  box-sizing: border-box;
}
body {
  color: #222831;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
  position: relative;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: #eee;
}
a:visited {
  color: #eee;
}
.inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: 0.4s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}

/* Header Section */
header {
  width: 100%; 
  height: 90px;
  top: 0; 
  position: absolute;
  background: #eee;
  z-index: 100; 
  color: #222831;
  border-bottom: 2px solid #222831;
}
header > .inner { 
  height: 90px;
  display: flex;
  justify-content: space-between;
}
header > .inner > a {
  display: flex;
  align-items: center;
}
header .logo {
  height: 60px;
}
header .main-menu {
  display: flex;
  align-items: center;
  height: 90px;
  font-size: 16px;
 
}
header .main-menu .item .item__name, 
header .main-menu .item .item__name a {
  padding: 35px 25px; 
  font-family: Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
header .main-menu .item .item__contents {
  width: 100%;
  position: fixed; 
  left: 0;
  color: transparent;
  
}

/* Section Welcome */
#welcome {
  width: 100%; 
  height: 100vh;
  border: 5px solid red;
  background-color: red;
  
}

#welcome .slideshow {
  width: inherit;
  height: inherit;
  overflow: hidden;
} 
#welcome .slideshow img {
  width: 1920px; 
  height: 1080px;
  object-fit: cover;
  object-position: center;
}